@import 'modules/table';
@import 'modules/pagination';
@import 'modules/terminal';
ul {
    list-style: none;
}

.button {
    margin-inline-end: 1rem !important;
    margin-block-end: 1rem !important;
}

ul.geslib-statistics {
    display: flex;
    gap: 1rem;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height:1.6rem;
}

.geslib-statistics li {
    padding: 1rem;
    border:1px solid #cdcdcd;
    text-align: center;
    background: #efefef;
    transition: background-color 0.4s ease;
}

.geslib-statistics li.darker-background {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the color and opacity to your liking */
}

.geslib-wrap, .geslib-wrap p {
    font-size: 1.1rem !important;
    line-height: 1.5rem !important;
}